{# Videos #}
{% block _post_videos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _post_videos_entry_widget %}
    <div id="block_{{ id }}" class="input-group mb-3" >
        {{ form_errors(form.src) }}
        {{ form_widget(form.src) }}
        <button class="btn btn-danger" data-action="delete" data-target="#block_{{id}}"><i class="fa fa-minus"></i></button>
    </div>
{% endblock %}
