{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="container mt-3">
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.description) }}
        </div>
        <div class="mb-3">
            {% if site.image %}
                <img src="{{ asset('uploads/admin/' ~ site.image.name ) }}" width="200px" height="auto">
                <a onclick="confirm('Voulez-vous vraiment supprimer cette image ?');" href="{{ path('admin_delete_image', {'id': site.image.id } ) }}" class="btn btn-outline-danger">Supprimer</a>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form_row(form.image) }}
        </div>
        <button class="btn btn-primary" type="submit">Enregistrer</button>
    {{ form_end(form)}}

    <h2 class="mt-3">Utilisateurs</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">1</th>
                <td>{{ user.username}}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role ~ ' '}}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('admin_edit_user', {'id': user.id}) }}" class="btn btn-primary">Editer</a>
                    <a onclick="return confirm('Confirmer la suppression ?');" href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>
{% endblock %}
