<!DOCTYPE html>
<html class="h-100" lang="{{ app.request.locale }}">
    
    <body class="h-100">
        {{ render(controller('App\\Controller\\HomeController::getHeader')) }}
        {% block alert %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
           
        {% block body %}{% endblock %}

        {{ render(controller('App\\Controller\\HomeController::getFooter')) }}
        

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
