{% extends 'base.html.twig' %}

{% form_theme form 'form/collection.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ title }}</h1>
    <div>
        {{ form_start(form) }}
            
            <div class="text-end">
                {% if post is defined %}
                    <a data-bs-toggle="modal" data-bs-target="#modal-post" class="btn btn-outline-danger" href="{{ path('post_delete', {id: post.id}) }}">Supprimer</a>
                    {{ include('post/_confirm_delete_post.html.twig')}}
                {% endif %}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.category) }}

            {# Images #}
            <h2>Images</h2>
            {% if app.request.attributes.get('_route') == 'post_edit' %}
                <div class="d-flex flex-wrap gap-2 mb-3">
                {% for image in post.images %}
                <div class="card">
                    <a  href="{{ asset('uploads/post/' ~ image.name) }}">
                        <img class="d-block" src="{{ asset('uploads/post/' ~ image.name) }}" alt="" width="200px" height="150px" style="object-fit: cover;">
                    </a>
                    <div class="card-footer text-end">
                        <a class="link-danger" data-bs-toggle="modal" data-bs-target="#modal-image" href="{{ path('delete_image', {id: image.id}) }}">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                        {{ include('post/_confirm_delete_image.html.twig')}}
                    </div>
                </div>
                {% endfor %}
                </div>
            {% endif %}

            {{ form_row(form.images) }}

            {# Videos #}
            <h2>Vidéos</h2>
            <div
                id="video-fields-list"
                data-video-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
                data-video-tags="{{ '<div></div>'|e }}"
                data-video-counter="{{ form.videos|length }}"
            >

                {% for video in form.videos %}
                    {{ form_row(video) }}
                {% endfor %}
            </div>

            <button id="add-video" type="button" class="btn btn-outline-success add-another-collection-widget" data-list-selector="#video-fields-list">Ajouter des vidéos</button>
            
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick-form') }}
{% endblock %}