{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
    <header>
        <div class="">
            {% if post.image is defined and post.image is not null %}
                    <img class="img-fluid" src="{{ asset('uploads/post/' ~ post.image.name) }}" alt="Figure de snowboard">
                {% else %}
                    <img class="img-fluid" src="{{ asset('build/images/post.jpeg') }} " alt="">
                {% endif %}
        </div>
        <div class="border border-dark border-3 w-75 mx-auto text-center" style="position: relative; bottom: 2em;">
            <div class="jumbotron py-5">
                <h1 class="display-5">{{ post.name }}</h1>
            </div>
        </div>
    </header>

    <div class="text-center">
        <p>{{ post.description }}</p>
    <div>

    <div>
        <p>Publié le <b>{{ post.createdAt | date("d M Y") }}</b> à <b>{{ post.createdAt | date('h:m') }}</b> par <em>{{ post.user.firstName }} {{ post.user.lastName }}</em> dans la catégorie <strong>{{ post.category.name }}</strong></p>
    </div>
    <hr>
    
    {% if post.images is defined and post.images is not null %}
        <div class="d-flex flex-wrap gap-2 py-5">
        {% for image in post.images %}
            <a class="d-inline-block" href="{{ asset('uploads/post/' ~ image.name) }}">
                <img src="{{ asset('uploads/post/' ~ image.name) }}" alt="" width="200px" height="150px" style="object-fit: cover;">
            </a>
        {% endfor %}
        </div>
    {% endif %}
    
    <div>
        <h3>Laisser un commentaire</h3>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\PostController::commentForm', {'id': post.id})) }}
        {% else %}
            <p></p>
            <p>
                <a class="btn btn-outline-success" href="{{ path('app_login') }}">
                    Se connecter
                </a>
                 <a class="btn btn-success" href="{{ path('app_register') }}">
                    Inscription
                </a>
            </p>
        {% endif %}  
    </div>
    <hr>
    <div>
         {% for comment in paginator.results %}

            <div class="card">
                <div class="card-header">
                    Publié le {{ comment.createdAt | date("d M Y") }} à {{ comment.createdAt | date("h:m") }}
                </div>
                <div class="card-body d-flex justify-content-start">
                    {% if comment.user.image is defined and comment.user.image is not null %}
                        <img src="{{ asset('uploads/user/' ~ comment.user.image.name) }}" alt="" width="60" height="auto">
                    {% else %}
                        <img src="{{ asset('build/images/user.png') }}" class="rounded-circle" width="60" height="auto">
                    {% endif %}
                    <blockquote class="blockquote mb-0 w-100">
                        <p>{{ comment.content }}</p>
                        <footer class="blockquote-footer"><cite title="Source Title">par {{ comment.user.firstName ~ ' ' ~ comment.user.lastName }}</cite></footer>
                    </blockquote>
                </div>
            </div>
        {% endfor %}

        {% if paginator.hasToPaginate %}
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginator.hasPreviousPage %}
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="{{ path('post_show_paginated', {id: post.id, slug: post.slug, page: paginator.previousPage}) }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if paginator.hasNextPage %}
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="{{ path('post_show_paginated', {id: post.id, slug: post.slug, page: paginator.nextPage}) }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>

</div>



{% endblock %}