{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <header>
        <div>
            {% if is_granted('EDIT', post) %}
            <div class="d-flex justify-content-end">
                <div class="position-absolute  m-1 p-2 border border-2 border-primary" style="">
                    <a href="{{ path('post_edit', {slug: post.slug} ) }}"><i class="fas fa-pencil-alt me-2 fa-2x"></i></a>
                    <a class="link-danger" href="{{ path('post_delete', {id: post.id}) }}"></a>
                    <a data-bs-toggle="modal" data-bs-target="#modal-post" class="btn btn-danger"><i class="far fa-trash-alt fa-2x"></i></a>
                    {{ include('post/_confirm_delete_post.html.twig')}}
                </div>
            </div>
            {% endif %}

            {% if featured_image is defined and featured_image is not null %}
                <img class="img-fluid" src="{{ asset('uploads/post/' ~ featured_image.name) }}" alt="Figure de snowboard">
            {% elseif post.image is defined and post.image is not null %}
                    <img class="img-fluid" src="{{ asset('uploads/post/' ~ post.image.name) }}" alt="Figure de snowboard">
            
            {% else %}
                    <img class="img-fluid" src="{{ asset('build/images/post.jpeg') }} " alt="Figure de snowboad">
            {% endif %}
        </div>
        <div class="border border-dark border-3 w-75 mx-auto text-center" style="position: relative; bottom: 2em;">
            <div class="jumbotron py-5">
                <h1 class="display-5">{{ post.name }}</h1>
            </div>
        </div>
    </header>

    <div class="text-center">
        <p>{{ post.description }}</p>
    <div>

    <div>
        <p>
            {% if post.updatedAt is defined and post.updatedAt is not null %}
                Mis à jour le <b>{{ post.updatedAt | date("d M Y") }}</b>
                à <b>{{ post.updatedAt | date('H:i') }}</b>
            {% else %}
                Publié le <b>{{ post.createdAt | date("d M Y") }}</b>
                à <b>{{ post.createdAt | date('H:i') }}</b>
            {% endif %}
            par <em>{{ post.user.fullName }}</em> 
            dans la catégorie <strong>{{ post.category.name }}</strong>
        </p>
    </div>
    <hr>
    
    {% if post.images is defined and post.images is not null %}
        <div class="d-flex flex-wrap gap-2 py-3">
        {% for image in post.images %}
            <a class="" href="{{ asset('uploads/post/' ~ image.name) }}">
                <div>
                    <img class="d-block" src="{{ asset('uploads/post/' ~ image.name) }}" alt="" width="200px" height="150px" style="object-fit: cover;">
                </div>
            </a>
        {% endfor %}
        </div>
    {% endif %}
    <hr>

    {% if post.videos is defined and post.videos is not null %}
        <div class="d-flex flex-wrap gap-2 py-3">
            {% for video in post.videos %}
                <iframe id="video{{ video.id }}" 
                        data-url={{ video.src }}
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
            {% endfor %}
        </div>
    {% endif %}
    
    <div>
        <h3>Laisser un commentaire</h3>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\CommentController::commentForm', {'id': post.id})) }}
        {% else %}
            <p></p>
            <p>
                <a class="btn btn-outline-success" href="{{ path('security_login') }}">
                    Se connecter
                </a>
                 <a class="btn btn-success" href="{{ path('security_register') }}">
                    Inscription
                </a>
            </p>
        {% endif %}  
    </div>
    <div id="commentsContainer" data-slug="{{ post.slug }}" data-paginator="{{ paginator }}">
         {{ include('post/_list_comments.html.twig') }}
    </div>
    {% if comments.hasNextPage %}
    <div class="text-center my-3">
        <button id="loadMoreButton" class="btn btn-primary">Voir plus</button>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('load_more_comments') }}
    {{ encore_entry_script_tags('embed_videos') }}
{% endblock %}
