{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="container py-5">

    <div>
        <h1>Mon compte</h1>
        <p>Inscris depuis le {{ user.createdAt | date('d/m/Y') }}</p>
        {% if user.avatar is defined and user.avatar is not null %}
            <div>
                <img src="{{ asset('uploads/user/' ~ user.avatar.name) }}" class="" width="100px" height="auto">
                <div class="">
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-image"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        {% else %}
            <img src="{{ asset('build/images/user.png') }}" width="100px" height="auto" class="rounded-circle">
        {% endif %}
        
        {{ form_start(form) }}
            <div class="mb-3 mt-3">
                <div class="upload-btn-wrapper">
                    {{ form_row(form.image) }}
                </div>
            </div>

            <div class="mb-3">
                {{ form_row(form.first_name) }}
            </div>

            <div class="mb-3">
                {{ form_row(form.last_name) }}
            </div>

        {{ form_end(form) }}
        <hr>
        <a href="{{ path('user_password_edit') }}" class="btn btn-primary">Changer mon mot de passe</a>
        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-user">Supprimer mon compte</a>
    </div>
    {{ include('user/_confirm_delete.html.twig')}}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
